body {
  margin: 0px;
  background-image: url(background.jpg);
  padding: 100px;
  text-align: center;
}

img {
  width: 520px;
  position: relative;
  left: 5px;
}

div {
  width: 520px;
  height: 710px;
  background-color: rgb(2, 45, 58);
  display: inline-block;
  vertical-align: top;
  padding: 20px 50px 50px 50px;

  text-align: left;
}

input {
  border: none;
  color: antiquewhite;
  background-color: rgb(2, 45, 58);
  font-size: large;
  outline: none;
}

h1 {
  color: antiquewhite;
}

button {
  background-color: rgb(52, 52, 199);
  border: none;
  border-radius: 10px;
  color: aliceblue;
  padding: 15px;
}

a {
  color: rgb(176, 176, 176);
  font-size: large;
  margin-left: 15px;
}

button:hover {
  background-color: black;
}
